<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Tuan Anh Nguyen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Video Downloader</title>
</head>
<body>
    <h1>YouTube Video Downloader</h1>
    <p>Please insert your Youtube video URL link</p>
    <form method="POST">
        <input type="text" name="video_link" placeholder="Enter YouTube Video URL" required>
        <button type="submit">Download</button>
    </form>
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}
</body>
</html>
